.showcase
	.container-fluid
		padding-block: 60px
	&-nav
		display: flex
		justify-content: center
		gap: 30px
		margin-bottom: 45px
	&-btn
		font-size: 24px
		color: $gray

	&-list
		display: flex
		flex-wrap: wrap
		justify-content: center
		gap: 15px
			